body, html{
   height: 100%;
   width: 100%;
}
 
body {
   margin: 0;
   background-color: white;
   font-family: 'Roboto', sans-serif;
}

#menu {
    /* background-color: teal; */
    height: fit-content;
    width: 8vw;
    font-size: 80%;
    border-right: 2px solid #e6e6e6;
}

#menu ul{
   padding: 1vw;
}

#menu li{
   list-style: none;
   padding: 0 0 2vw 0;
   text-decoration: none;
   /* background-color: tomato; */
}

#menu li a{
   text-decoration: none;
}

#menu li a img{
   width: 4vw;
}