body, html{
   height: 100%;
   width: 100%;
}

body {
   margin: 0;
   background-color: white;
   font-family: 'Roboto', sans-serif;
   display: inline-flex;
   background:
      /* top, transparent black, faked with gradient */ 
      linear-gradient(
         rgba(0, 0, 0, 0.2), 
         rgba(0, 0, 0, 0.3)
      ),
      /* bottom, image */
      url(../assets/background_main.jpg);
      background-size: cover;
 }

#menu {
   text-align: center;
   height: 100%;
   padding: 0%;
   margin: 0%;
   background-color: white;
   width: 8vw;
   font-size: 80%;
}

#menu ul{
   margin: 0%;
   padding: 2vw 0vw 2vw 0vw;
}

#menu li{
   list-style: none;
   padding: 2vh 0 0 0;
   text-decoration: none;
}

#menu li a{
   text-decoration: none;
}

#menu li p{
   text-decoration: none;
   margin: 0;
}

#menu li a img{
   width: 3vw;
}

#center {
   height: 100%;
   padding: 0%;
   margin: 0%;
   width: 92vw;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3%;
   flex-wrap: wrap;
}


#weather-principal {
   float: right;
   width: 100%;
   padding: 0;
   margin: 0;
   background-color: white;
   align-items: center;
}

#img-weather {
   width: 3vw;
   margin: 0 0 0 0;
   padding: 0;
}

#weather, #weather-description {
   font-size: 90%;
   margin: 0;
   padding: 0 0 0 0;
}

#hour {
   margin: 0;
   padding: 0;
   font-size: 120%;
}

#chart-clientes, #chart-ingressos, #chart-maisVendidos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   max-width: 350px;
   min-width: 350px;
   background-color: white;
   border-radius: 10px;
   padding: 5px;
   margin: 10px;
}

#chart-clientes h3, #chart-ingressos h3 {
   margin: 0;
   padding: 10px 0 0 10px;
}

.card{
   display: flex;
   flex-direction: column;
   background-color: beige;
   justify-content: center;
   align-items: center;
   gap: 1%;
   flex-wrap: wrap;
   width: 100%;
}