body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(../assets/background_main.jpg);
    background-size: cover;
}

img {
  height: 50vh;
  width: 100%;
}

header {
  background-color: white;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: space-evenly;
}
header button {
  height: 70%;
  border: 5px;
  background-color: white;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

header button:hover {
  background-color: whitesmoke;
  font-size: 1em;
}

#user-account {
  background-image: url("../assets/img/account-icon.png");
  background-size: cover;
  width: 2.5%;
}

.glide__track {
  
}

.glide__arrow {
  border-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.glide__arrow img{
  padding: 5px;
  width: fit-content;
  height: fit-content;
  border: white ;
}

.glide__slide p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
  text-decoration: none !important;
}

.glide__slide {
  justify-content: center;
  align-content: center;
  display: inline;
  margin: 0;
  text-decoration: underline;
  background-color: white;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

#horarios {
  background-color: white;
  align-items: center;
  justify-content: center;  
  margin: 0;
  padding: 0;
}

#horarios h2 {
  margin-bottom: 10px;
  text-align: center;
}

#horarios p{
  margin: 0;
  font-size: 0.95em;
  text-align: center;
}

#social {
  width: fit-content;
}

#social h2 {
  margin-bottom: 5px;
  text-align: center;
}

#social-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 0;
    justify-content: center;
}

#social-list li {
  padding: 5px;
}

#social-list li img{
  height: 25px;
  width: 25px;
  padding: 5px;
}

#social-list li img:hover {
  height: 27px;
  width: 27px;
}
