body, html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
 background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.3)
    ),
    /* bottom, image */
    url(../assets/background_main.jpg);
  background-size: cover;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0%;
  margin: 0%;
  width: 100%;
}

.container-box {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.content-box {
  color: black;
  text-align: center;
}

.half1 {
  margin: 0;
  width: 45%;
  float: left;
  height: 100%;
  margin-top: -4vh;
}

.half1 h1{
  color: white;
}

#create-account{
  background-color: transparent;
	border-radius: 15px;
	border: 2px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 16px;
	text-decoration: none; 
}

.half2 {
  margin: 0;
  float: left;
  width: 55%;
  height: 100%;
  background: white;
}

#login {
  text-align: left;  
}

#login-btn {
  box-shadow: 0px 2px 4px 0px #878787;
	background-color:#ffffff;
	border-radius:15px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:2% 40%;
	text-decoration:none;
  margin-top: 5%;
}

.half2 input {
  display: list-item;
  border-width: 0 0 0 0;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 5%;
  padding: 2% 20vw 1% 0; 
  font-size: 100%;
}

.half2 .inputs {
  margin-top: 5%;
}

a{
  color:white;
  text-decoration: none;
}
