*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

#account-info{
    display: flex;
    width: 35%;
    height: 50%;
    background-color: aqua;
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p{
    width:30%;
}

#details{
    display: flex;
    flex-wrap: wrap;
    
}

#ticket-details{
    display: flex;
    flex-wrap: wrap;
}

#tickets{
    display: flex;
    width: 35%;
    height: 50%;
    background-color: aqua;
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
